extends layout

block content
  h2 All posts

  form(method="GET" action="/post/create")
    button.btn.btn-success(type="submit") Create

  if blogPosts
    each post in blogPosts
      .card
        .card-body
          a(href="/post/" + post.posturl).card-title #{post.posttitle}
          p.card-text= post.postbody
          p 
            | Auther: 
            a(href='/post/auth/' + post.user.username)= post.user.fname + ' ' + post.user.lname
       
