extends layout

block content
  h2 #{user} posts  

  if blogPosts
    each post in blogPosts
      .card
        .card-body
          a.nav-link.active(href="/post/" + post.posturl).card-title #{post.posttitle}
          p.card-text= post.postbody
          a.nav-link.active(href='/post/auth/' + post.user.username)= post.user.username
