extends layout

block content
    //- h2 #{user} posts 
    h2  posts 
    h2.text-danger It is working :) , uncomment the rest of the code

    //- h2 #{user} posts  

    //- if contcomments
    //-     each comment in contcomments
    //-     .card
    //-         .card-body
    //-         a(href="/post/" + post.posturl).card-title #{post.posttitle}
    //-         p.card-text= post.postbody
    //-         a(href='/post/auth/' + post.user.username)= post.user.username
        